.foot-nav {
  background: linear-gradient(#B9FBC0, #90DBF4, #90DBF4 );
  border-top: 2px solid #74a879;
  width: 100%;
}

.foot-title {
  font-weight: bolder;
  font-family: 'Yellowtail', cursive;
  font-size: 5em;
}