h2 {
  justify-content: center;
  text-align: center;
}

h3 {
  justify-content: center;
  text-align: center;
}

p{
  justify-content: center;
  text-align: center;
  margin: 30px;
}

.ourTeamImg {  
  border: 1px solid black;
  border-radius: 20px;
  width: 30%;
  height: 40%; 
  margin-left: 20vw;
  margin-bottom: 10vh;
}

.carousel-div {
  justify-content: center;
  margin: 40px;
}


.carousel-button {
  width: .2rem .1vw;
  border: none;
  outline: none;
  font-weight: bold;
  color: black;
  background:#B9FBC0;
  /* position: relative;
  z-index: 0; */
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px;
}

.carousel-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  margin: .2rem .1vw;
}


.carousel-button:active{
  color: #000;
}

.carousel-button:active:after{
  background: transparent;
}
.carousel-button:hover:before{
  opacity: 1;
}

.carousel-button:after{
  z-index: -1;
  content: '';
  position: absolute;
  width: .2rem .1vw;
  margin: .2rem .1vw;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* main {
  height: 90vh;
} */